{% extends 'base.html' %}

{% block title %}
    <title>Login to your account - Task Mate</title>
{% endblock title %}



{% block content %}
{% if messages %}
    {% for message in messages %}
      <script>
        M.toast({html: '{{message}}', classes: 'center'})
      </script>
    {% endfor %}
{% endif %}

<div class="row">
    <form style="margin:15px;" method="post" class="col s6">
    {% csrf_token %}
      
    {{form}}  
     
        <br><br/>
        <button type="submit" class="btn ">Login</button>
    </form>
</div>
{% endblock content %}