{% extends 'base.html' %}

{% block title %}
<title>Edit</title>
{% endblock title %}


{% block content %}
  {% if messages %}
    {% for message in messages %}
      <script>
        M.toast({html: '{{message}}', classes: 'center'})
      </script>
    {% endfor %}
  {% endif %}
<div class="row">
    <form method="post" class="col s12">
    {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <textarea id="task" name="task" class="materialize-textarea">{{task_object.task}}</textarea>
          <label for="textarea1">Edit Task</label>
        </div>

        <button type="submit" name="submit" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">edit</i></button>



      </div>
    </form>
</div>
{% endblock content %}